*{
   margin: 0;
}
body{
   background-image: url('imagens/1.png');
   background-size: cover;
}
#main{
   width: 100%;
   background-color: #a61212;
   height: auto;
   text-align: center;
   padding-top: 20px;
   position: fixed;
   color: yellow;
}
.logo{
   width: 70px;
   height: 60px;
   position: absolute;
   left: 38%;
}
.cadastro{
   position: fixed;
   margin-top: 5px;
   margin-left: 1600px;
}
.imagemCad{
   width: 100px;
   height: 100px;
}
.item{
   border-radius: 10px;
   border-style: solid;
   /* display: flex; */
   width: auto;
   height: auto;
   background-color: #a61212;
}
.item p{
   font-size: 20px;
}
.imagem{
   width: 350px;
   height: 300px;
   
   /* display: none; */
}
.imagemb{
   width: 350px;
   height: 300px;
}
.imagemcoca{
   width: 350px;
   height: 300px;
}
.imagembud{
   width: 350px;
   height: 300px;
}
#hamburger{
   background-image: none;
   background-size: cover;
   /* height: 100vh; */
}
.info{
   padding-top: 150px;
   width: 100%;
   text-align: center;
}
.content{
   display: flex;
   /* padding-top: 10px; */
   text-align: center;
   align-items: center;
   justify-content: center;
}
.item{
   /* width: 200px; */
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 250px;
}
.links{
   font-size: 20px;
   display: flex;
   justify-content: center;
   color: red;
}
#sobremesas{
   background-image: none;
   background-size: cover;
}
.icone{
   width: 50px;
   height: 50px;
}
#bebidas{
   background-image: none;
   background-size: cover;
}